<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link href="/css/short-input.css" th:href="@{/css/short-input.css}" rel="stylesheet"/>
</head>

<body class="text-center">

<div id="container">

    <form class="fields" th:action="@{/registration}" th:object="${user}" method="post">

        <div class="register">
            <h2 class="h3 mb-3 font-weight-normal">Create a new account</h2>

            <input type="text" class="from-control" id="username" name="username" th:value="*{username}"
                   placeholder="username">

            <input type="email" class="from-control" id="email" name="email" th:value="*{email}" placeholder="email">

            <input type="password" class="from-control" id="password" name="password" style="margin-bottom: -1px"
                   th:value="*{password}"
                   placeholder="password">

            <input type="password" class="from-control" id="passwordConfirm" name="passwordConfirm"
                   style="margin-bottom: 15px"
                   th:value="*{passwordConfirm}"
                   placeholder="confirm password">

                <tr th:each="error :${errors}">
                    <span class="text-danger" th:text="${error.toString()}"></span>
                    <br>
                </tr>

            <button type="submit" class="btn btn-primary">Create</button>

            <a th:href="@{/login}">Already have an account? Sign in </a>

        </div>

        <br>
    </form>
</div>

</body>
</html>
